

.main-header-menu-item a:hover {
    color: blue;
}

.address-item a:active {
    color: red;
}

.hero {
    background-color: #2e2f42;
}

.hero-heading {
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2%;
    line-height: 60px;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;

}
.main-header-menu-link, .address-item-menu-link {
    text-decoration: none;
}
.logo-web, .logo-studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    line-height: 21px;
    font-size: 18px;
    letter-spacing: 3%;
}
.logo-web {
    color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.main-header-menu-link {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.main-header-menu-item {
    text-align: left;
}
.address-item-menu-link {
    color: #434455;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}
.button-text {
    color: white;
    background-color: #4d5ae5;
    font-family: "roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
.feature-section {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.feature-description {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.what-are-we-doing-section, .our-team-section {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.our-team-names {
    color: #2e2f42;
    font-family: "roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.our-team-job-description {
    color: #434455;
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo-web {
    color: #4D5AE5;
    font-family: "raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
.footer-logo-studio {
    color: #f4f4fd;
    font-family: "raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
}
.footer-description {
    color: #f4f4fd;
    font-family: "roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}